body{
    background-color: #10375C;
  }

  .body{
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-content: stretch;
    flex-grow: 1;
    align-items: center;
  }

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border: #F4F6FF solid 1px;
    border-radius: 24px;
  }

  .head{
    padding: 10px;
    margin-top: 10px;
  }

.signup{
    color: #F4F6FF;
    font-size:xx-large;
}

hr{
    width: 100px;
    border-style:solid;
    border-color: rgb(244, 246, 255) rgb(244, 246, 255) rgb(244, 246, 255);
    border-image: initial;
    border-bottom: none;
}

.second{
    display: flex;
    flex-direction: column;
}

input{
    padding: 5px;
}
.u{
    display: flex;
    align-items: flex-start;
    padding-left: 5px;
}

.enter{
    background-color: rgb(244, 246, 255);
    height: 20px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 2px 4px 1px;
    border-radius: 24px;
}

.l{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 24px;
    background-color: cornflowerblue;
}
input{
    border-style: none;
}
.l:hover{
    background-color: rgb(76, 125, 216);
}



.java{
    color:#F4F6FF;
    border-style: none;
    width: 260px;
    padding: 8px;
}

.f{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    align-items: flex-end;
}

#f{
    color: #F4F6FF;
    font-size: x-small;
    padding-right: 10px;
}

.third{
    display: flex;
    color: #F4F6FF;
    align-items: center;
}

#hr{
    margin: 15px;
}

.fo{
    display: flex;
    color: #F4F6FF;
    width: 250px;
    align-items: center;
    justify-content: center;
}

#p{
    margin-right: 10px;
    margin-left: 10px;
}

p{
    color: #F4F6FF;
}

a{
    color: #F4F6FF;
}
